# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
.venv/

# Distribution files
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# CSV file
creditcard.csv